[submodule "Lab1/data_lab1"]
	path = Lab1/data_lab1
	url = https://gist.github.com/d66a59b6db4e59c16efd4c42ad411f8e.git
[submodule "Lab2/data_lab2"]
	path = Lab2/data_lab2
	url = https://gist.github.com/d66a59b6db4e59c16efd4c42ad411f8e.git
[submodule "Lab4"]
	path = Lab4
	url = https://github.com/steven-yanh/CISC3140-lab4.git
